    <div id="tab3" class="tab_content">
		<h2>Estado </h2>
        
		<%semantic_form_for @estado do |f| %>
			<% f.inputs do%>
				<%= f.input :anterior_id, :as => :select,:label => "Estado anterior", :collection => @estados %>
				<%= f.input :nombre %>
				<%= f.input :descripcion , :input_html => { :style => "width:70em; height: 10em" }%>
	
			<% end %>
			<%= f.buttons %>
		<% end %>
    </div>




