
<div class= "encabezado">
<h2>SIELHO</h2>
<p> Sistema Electronico de Informacion de Honduras</p>
</div>

<div class= "cuerpo11"> 
<h3> Instituto de Acceso a la Información Publica</h3>

<p> El Instituto de Acceso a la Información Pública (IAIP), es un órgano
desconcentrado de la administración pública, con independencia operativa,
decisional y presupuestaria, responsable de promover y facilitar el acceso de los
ciudadanos a la información pública, así como de regular y supervisar los
procedimientos de las instituciones obligadas en cuanto a la protección,
clasificación y custodia de la información pública.
<br/><br/>
Para realizar una solictud de informacion, presione el enlace
"Realizar Solicitud de Informacion", para ingresar como usuario del sistema presione el enlace "Login".
</p> 

<h3>Misión</h3>
<p>Promover y facilitar el acceso de los ciudadanos a la información pública,
así como de regular y supervisar los procedimientos de las instituciones
obligadas en cuanto a la protección, clasificación y custodia de la
información pública de acuerdo a la ley de transparencia y acceso a la
información pública.
</p>
<h3>Visión</h3>
<p>El desarrollo y ejecución de la política nacional de transparencia así
como el ejercicio del derecho de toda persona al acceso a la información
pública para el fortalecimiento del estado de derecho y consolidación de
la democracia mediante la participación ciudadana.
</p>

</div>
<div class = "video">
<p><strong>¿Que es la Ley de Acceso a la Informacion Publica?</strong></p>
<object  class = "fondo" style="height: 300px; width: 300px">
<param  class = "fondo" name="movie" value="http://www.youtube.com/v/x71-M7Ywoh8?version=3&feature=player_embedded&feature=player_embedded">
<param class = "fondo" name="allowFullScreen" value="true">
<param class = "fondo" name="allowScriptAccess" value="always">
<embed class = "fondo" src="http://www.youtube.com/v/x71-M7Ywoh8?version=3&feature=player_embedded&feature=player_embedded" type="application/x-shockwave-flash" allowfullscreen="true" allowScriptAccess="always" width="300" height="300"></object>
</div>

