<h2>Bienvenido a SIELHO </h2>

<p>La cuenta del Usuario <%=@user.username%> ha sido creada.</p>
<p> Su contraseña es : <%=@password%></p>

<strong>Favor contactar a su Oficial o Administrador correspondiente para activar su cuenta.</strong>
