

<div class= "fondomail"></div>
<div class= "correos">
<h3>Solicitud de Informacion Realizada con Exito</h3>
<p> Su solicitud fue recibida y sera gestionada por el Oficial de Informacion Publica Correspondiente.</p>

</div>
